/* Buttons and nav links */
.topbar li button,
.topbar li a,
.sidenav a {
    color: rgb(0, 0, 0) !important;
    text-align: center;
    margin: 6px 6px;
    padding: 10px 10px;
    text-decoration: none;
    background-color: white;
    border: none;
    border-bottom: solid rgb(184, 178, 178);
    border-radius: 10px;
    transition: 0.3s;
}

.topbar li button:hover {
    background-color: rgb(204, 204, 204);
    border-bottom: solid rgb(139, 138, 138);
    transition: 0.3s;
}

.topbar li a:active,
.sidenav a:active {
    background-color: rgb(204, 204, 204);
    border-bottom: solid rgb(139, 138, 138);
    transition: 0.3s;
}

/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

/* Dark mode buttons */
.darkMode .topbar li button,
.darkMode .topbar li a,
.darkMode .sidenav a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(23, 23, 23);
    border-bottom: solid rgb(32, 33, 36);
}

.darkMode .topbar li button:hover {
    background-color: rgb(32, 33, 36);
    border-bottom: solid rgb(48, 49, 52);
}

.darkMode .topbar li a:active,
.darkMode .sidenav a:active {
    background-color: rgb(32, 33, 36);
    border-bottom: solid rgb(48, 49, 52);
}
