/* Typography */
.titulos {
    font-size: 45px !important;
}

.subtitulos {
    font-size: 30px !important;
}

.texto {
    font-size: 20px !important;
}

@media screen and (max-width: 1023px) {
    .titulos {
        font-size: 28px !important;
    }

    .subtitulos {
        font-size: 22px !important;
    }

    .texto {
        font-size: 18px !important;
    }
}
